
* {
    font-family: Helvetica, sans-serif;
    letter-spacing: .10em;
}
body{
    background-image: url("https://images.unsplash.com/photo-1583173451851-dd9ba01f891e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2670&q=80");
    background-repeat: no-repeat;
    background-size: cover;
}
.heading{
    text-align: center;
    color: white;
    margin-top: 10px;
    padding: 5px;
}
.form-box {
    background-color: #c7eaff;
    opacity: 95%;
    width: 100%;
  
}
input{
    width: 100vh;
    margin: 10px;
    position: relative;

}

.button {
    color: black;
    background: #00a0ff;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 5px solid transparent;
    transition: all .1s;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 20px;
  }
  
  /* Styling for the second button when hovering over it */
  .button:hover {
    text-shadow: 0px 0px 5px #00a0ff;
    background: #62c5ff;
  }
  
.memesContainer{
    position: relative;
    top: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
.container {
    border: 2px solid black;
    margin: 10px;
    width: 200px;
    height: 200px;
    position: relative;
    background: no-repeat center;
    background-size: cover;
    display: block;
}
.textTop,
.textBottom{
    font-family:Arial, Helvetica, sans-serif;
    left: 5px;
    font-size: 20px;
    color: white;
    text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black,
             1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
    overflow-wrap: break-word;
    text-align: center;
}
.textTop{
    top: 2px;
    position: relative;
}
.textBottom{
    bottom: -125px;
    position: absolute;
    bottom: 0px;
}
.formHolder {
    display: inline-flex;
}
.top{
    margin-top: 13px;
    margin-bottom: 23px;
}
.bottom{
    margin-top: 18px;
    margin-bottom: 24px;
}
.top,
.bottom,
.URL {
    margin-left: 20px;
}


.container:hover .hoverImage{
    background-image: url('https://cdn.vectorstock.com/i/1000x1000/22/90/x-small-silhouette-vector-6362290.webp');
    height: 200px;
    position: absolute;
    background-size: cover;
    opacity: .6;
    width: 200px;
    left:0;
    top:0;
    z-index:999;
} 
